<a href="https://colab.research.google.com/github/bhavya047/colab_practice/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 28]}
df = pd.DataFrame(data)

# Filter for ages above 28
df[df['Age'] > 28]

  Name  Age
1  Bob   30